.popular {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 90vh;
}
.popular h1 {
  font-size: 40px;
  font-weight: 600;
  color: #090909;
}
.popular hr {
  width: 200px;
  height: 6px;
  background: #252525;
  border-radius: 10px;
}
.popular-item {
  display: flex;
  gap: 30px;
  /*  */
  margin-top: 50px;
}
